@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.imagem-carrosel{
    object-fit: cover;
    object-position: 0 80%;
    height: 600px;
}

.fonte-pacifica{
    font-family: 'Pacifico', cursive;
}

.barinha-nav{
    background:url('./img/tomate-background-1-23109002.jpg');
    background-size: 190px;
    color:white;
    border-radius:8px;
}

