@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.imagem-carrosel{
    object-fit: cover;
    object-position: 0 80%;
    height: 600px;
}

.fonte-pacifica{
    font-family: 'Pacifico', cursive;
}


.botao-titulo{
    background-color: darkred;
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.botao-titulo:hover{
    background-color: #DE200B;
    color: white;
}

.borda-card{
    border-color: darkred!important;
    border-style: solid!important;
    border-width: 0.2rem!important;

}
.card-divs{
    background-color:#ecebec;
}

.card-img-cover{
    object-fit: cover;
    max-height: 120px;
}
@media (max-width:426px) {
    .carrosel-tamanho-media{
        height: 20px!important;
    }

    .imagem-carrosel{
        max-height: 400px;
    }
}
@media (max-width:728px){
    .container, .container-sm {
    max-width: unset!important;
    }

    .cards-receitas{
       display: grid!important;
       justify-content: center!important;
       justify-self: center!important;
    }
}
.cor-titulo{
    color: darkred;
}